body {
width: 90%;
background-color: white;
margin: 15px auto;
border-bottom: 1px solid #ef9c00;
}
   
/*Free FrontEnd: https://freefrontend.com/css-text-effects/*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
.wrapper {
  animation: sliding-background 40s linear infinite;
  background: url("https://images.unsplash.com/photo-1452697620382-f6543ead73b5") no-repeat left/120%;
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.title {
  background: white;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 35vw;
  letter-spacing: 1vw;
  line-height: 100vh;
  margin: 0;
  mix-blend-mode: lighten;
  text-transform: uppercase;
  text-shadow: 0 0 0px, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black, 9px 9px black, 10px 10px black, 11px 11px black, 12px 12px black, 13px 13px black, 14px 14px black, 15px 15px black, 16px 16px black, 17px 17px black, 18px 18px black, 19px 19px black, 20px 20px black, 21px 21px black, 22px 22px black, 23px 23px black, 24px 24px black, 25px 25px black, 26px 26px black, 27px 27px black, 28px 28px black, 29px 29px black, 30px 30px black, 31px 31px black, 32px 32px black, 33px 33px black, 34px 34px black, 35px 35px black;
}
.title:before {
  color: white;
  content: attr(data-text);
  margin-left: -1%;
  margin-top: -1%;
  position: absolute;
}

@keyframes sliding-background {
  0%, 100% {
    background-position: 0 40%;
  }
  50% {
    background-position: 100% 40%;
  }
}


header h2 {
    margin-left: 50%;
    color: white;
    font-size: 2em;
    font-family: Garamond;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

p {
 font-family: Garamond;
 font-size: 1.2em;
}

main p {
 margin: auto 10px;
 color: darkblue;
}

    form {
            width: 400px;
            background-color: #fff;
            padding: 20px;
            margin-bottom: 200px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        fieldset {
            border: 1px solid black;
            padding: 10px;
            margin: 0;
        }
        legend {
            font-weight: bold;
            margin-bottom: 10px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"],
        textarea,
        input[type="date"] {
            width: calc(100% - 20px);
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .gender-group {
            margin-bottom: 10px;
        }
        .gender-group label {
            display: inline-block;
            margin-left: 10px;
        }
        input[type="radio"] {
            margin-left: 10px;
            vertical-align: middle;
        }
        input[type="submit"] {
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
main {
width: 66%;
height: 350px;
border-right: 2px solid #ef9c00;
float: left;
}

aside {
width: 33%;
float: right;
}

footer {
    clear: both;
    border-top: 2px solid #ef9c00;
    

}



